{% extends '::base.html.twig' %}

{% block folder %}
    <h1>UserFolder</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Foldername</th>
                <td>{{ entity.folderName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Pictureid</th>
                <td>{{ entity.pictureId }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('userfolder') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('userfolder_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
